<div class="my-exper">
    <div>
        <h3>my skills</h3>
        <ul>
            <li>web developer</li>
            <li>mobiler developer</li>
            <li>softeare engneering</li>
            <li>web developer</li>
            <li>mobiler developer</li>
            <li>softeare engneering</li>
        </ul>
    </div>
    <div>
        <h3>my experince</h3>
        <ul>
            <li>web developer</li>
            <li>mobiler developer</li>
            <li>softeare engneering</li>
            <li>web developer</li>
            <li>mobiler developer</li>
            <li>softeare engneering</li>
        </ul>
    </div>
</div>