<footer>
    <div class="containe">

        <div class="footer-info ">
            <label for="">social media:</label>

            <div class="social2">
                <ul>
                    <li>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-linkedin"></i></a>

                    </li>
                </ul>
            </div>
            <label for="">my phone number</label>

            <div class="myphone">

                <a href=""> <i class="fa fa-phone-alt"> +967776427676</i></a>
            </div>
            <label for="">my email</label>
            <div class="myemail">
                <a href="" style="display: block;">
                    <i class="far fa-envelope"></i> Thorya.abdulmageed202@gmail.com
                </a>
            </div>
            <label for="">business hours</label>

            <div class="times-table">

                <p class>sunday - thursday</p>
                <p>7:30 AM - 8:30 PM</p>
            </div>
        </div>
    </div>
    <p>Made with love <span style="color: white;">&#10084;</span> Thorya ^_^</p>
</footer>