<header>
    <div class="menu">
        <!--logo-bar-->
        <div class="menu-logo toogle-btn"><span>th</span></div>

    </div>
    <!--header content-->
    <div class="container">

        <div class="content">
            <div class="experience">
                <div>
                    <span>e</span>
                    <span>x</span>
                    <span>p</span>
                    <span>e</span>
                    <span>r</span>
                    <span>i</span>
                    <span>e</span>
                    <span>n</span>
                    <span>e</span>
                </div>
            </div>
            <div class="services">
                <div>
                    <span>s</span>
                    <span>e</span>
                    <span>r</span>
                    <span>v</span>
                    <span>i</span>
                    <span>c</span>
                    <span>e</span>
                    <span>s</span>

                </div>
            </div>
            <div class="skills">
                <div>
                    <span>s</span>
                    <span>k</span>
                    <span>i</span>
                    <span>l</span>
                    <span>l</span>
                    <span>s</span>

                </div>
            </div>
            <div class="mywork">


            </div>
        </div>

    </div>
    <div class=" social">
        <ul>
            <li><a href=""><i class="fab fa-facebook-square"></i></a>
            </li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
            <div class="hr"></div>
            <div class="myname">
                <span>t</span>
                <span>h</span><span>o</span><span>r</span><span>y</span><span>a</span>
            </div>
        </ul>

    </div>
    </div>
</header>