<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <!----------------------------start header--------------------------------------------->

    <!----------------------------end header--------------------------------------------->
    <!----------------------------start about me--------------------------------------------->

    <div id="aboutme" class="about-me">
        <div class="gra-avatar">

            <div class="avatar">

            </div>
        </div>


        <div class="info-me">
            <div>
                <h3>
                    who am i?
                </h3>
                <p class="paragraph">
                    <%= par  %>
                </p>
            </div>
        </div>
    </div>
    <!----------------------------end about me--------------------------------------------->

    <div class="myfav-sen">
        <p>iam here for you</p>
    </div>
    <!----------------------------start about me--------------------------------------------->
    <!----------------------------   start about me--------------------------------------------->
    <!----------------------------   start about me--------------------------------------------->
    <!----------------------------   concat me--------------------------------------------->
    <!----------------------------   footer--------------------------------------------->


    <script src="js/main.js"></script>
</body>

</html>