<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%=lan[1]%>
        <div>
            <p>
                <%= title%>

            </p>
            <ul>
                <% for( let index = 0; index < lan.length; index++ ) { %>
                    <li>
                        <%= lan[index]%>
                    </li>
                    <% } %>
            </ul>

        </div>
</body>

</html>